appdirs==1.4.4
asgiref==3.2.10
astroid==2.3.3
autopep8==1.4.4
beautifulsoup4==4.9.0
bs4==0.0.1
certifi==2020.4.5.1
chardet==3.0.4
cloudpickle==0.5.3
colorama==0.4.3
configparser==5.0.0
crayons==0.3.1
cycler==0.10.0
dask==0.18.2
decorator==4.3.0
distlib==0.3.1
dj-database-url==0.5.0
Django==3.1
django-cors-headers==3.4.0
django-heroku==0.3.1
djangorestframework==3.11.1
entrypoints==0.3
filelock==3.0.12
flake8==3.7.9
gunicorn==20.0.4
idna==2.9
imageio==2.3.0
importlib-metadata==1.7.0
isort==4.3.21
joblib==0.15.1
kiwisolver==1.0.1
lazy-object-proxy==1.4.3
matplotlib==2.2.2
mccabe==0.6.1
mpi4py==3.0.3
mpmath==1.1.0
networkx==2.1
np==1.0.2
numpy==1.15.0
pandas==0.23.4
Pillow==6.2.2
psycopg2==2.8.5
pycodestyle==2.5.0
pycparser==2.18
pyflakes==2.1.1
pygit==0.1
PyJWT==1.7.1
pylint==2.4.4
pyparsing==2.2.0
pyTelegramBotAPI==3.7.1
python-dateutil==2.7.3
pytz==2018.5
PyWavelets==0.5.2
PyYAML==5.1
requests==2.23.0
scikit-image==0.14.0
scikit-learn==0.23.1
scipy==1.4.1
selenium==3.141.0
six==1.11.0
soupsieve==2.0
sqlparse==0.3.1
sympy==1.4
tesserocr==2.4.0
threadpoolctl==2.0.0
twilio==6.45.0
typed-ast==1.4.1
urllib3==1.25.9
virtualenv==20.0.25
webdriver-manager==3.2.1
whitenoise==5.2.0
wrapt==1.11.2
zipp==3.1.0
